html {
    overflow: auto;
}

body {
    background-image: url(img/background2.png), url(img/background1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    overflow: auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#container {
    overflow: auto;
}

#content {
    display: block;
    width: 1050px;
    height: 100%;
    margin: auto;
}

#logo {
    padding-top: 2%;
    margin: auto;
    width: 50%;
    text-align: center;
    opacity: 0.4;
}

#logo img {
    padding: 1%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 100%;
    height: auto;
    max-width: 293px;
}
#logo :first-child {
    max-width: 111px;
}

.form {
    width: 50%;
    text-align: center;
    margin: auto;
    float: left;
}

.topText {
    color: white;
    width: 100%;
    margin: 10px 0px;
}

.bluredForm {
    background-color: rgba(0, 0, 0, 0.3);
    background-position: center;
    border-radius: 5px;
    padding: 3%;
    max-width: 382;
    margin: auto;
}

.whiteForm {
    background-color: white;
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 15px;
}

.ramka {
    border: 2px solid rgb(224, 212, 212);
    border-radius: 5px;
    width: 80%;
    margin: 3% auto;
    padding-left: 43px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    height: 36px;
    cursor: text;
}

.ramka:hover, .ramka:focus-within {
   border-color: blue;
}

.ramka_user {
    background-image: url(img/user.png);
}

.ramka_pass {
    background-image: url(img/pass.png);
}

.ramka_mail {
    background-image: url(img/email.png);
}

.ramka_phone {
    background-image: url(img/phone.png);
}

.ramka_location {
    background-image: url(img/loc.png);
    background-position-x: 13px;
    color: grey;
    cursor: pointer;
}

.ramka_location option {
    color: grey;
}

#ramkaTxt {
    padding-left: 5px;
    width: 90%;
    min-height: 200px;
    cursor: text;
}

select {
    color: grey;
    cursor: pointer;
}

.check {
    padding-left: 0px;
    border: none;
    width: 90%;
}

.checkJeden input {
    display: none;
}

.checkJeden {
    width: 10%;
    float: left;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
}

.checkJeden .checkmark {
    display: inline-block;
    width: 26px;
    height: 26px;
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid rgb(224, 212, 212);
    border-radius: 5px;
}

.checkJeden .checkmark:hover {
    background: gray;
}

.checkJeden input:checked + .checkmark:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 12px;
    height: 12px;
    background-color: limegreen;
    border: 1px solid limegreen;
    border-radius: 5px;
    margin: 6px;
}

.checkDwa {
    width: 90%;
    float: left;
    padding: 0.4em;
    padding-left: 28px;
    color: grey;
}


.formName {
    width: 100%;
    border: none;
    padding-left: 15px;
    height: 30px;
    border-left: 1px solid rgb(224, 212, 212);
    margin: 3px 0px;
}

.formMessage {
    width: 100%;
    border: none;
    height: 30px;
    margin: 3px 0px;
}

button {
    width: 100%;
    height: 100%;
    max-height: 36px;
    background-color: limegreen;
    border: 1px solid darkgreen;
    border-radius: 3px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: lime;
}

button:active {
    background-color: rgb(224, 212, 212);
    border: 1px solid green;
    color: black;
}

#buttonred {
    background-color: red;
    border: 1px solid darkred;
    
}

#buttonred:hover {
    background-color: brown;
}

#buttonred:active {
    background-color: rgb(224, 212, 212);
    border: 1px solid red;
    color: black;
}

.buttonLong {
    width: 90%;
    margin: auto;
}

.buttonShortRight {
    width:45%;
    margin-left: 5%;
    float: left;
}

.buttonShortLeft {
    width:45%;
    margin-right: 5%;
    float: left;
}

#outro {
    padding: 20px 5%;
    opacity: 0.4;
    width: 40%
}

#outro img {
    padding: 20px 0px;
}

@media only screen and (max-width: 1075px) {
    #logo :first-child {
        max-width: 60px;
    }
    #logo img {
        max-width: 160px;
    }
    .form {
        width: 65%;
        margin-left: 17.5%;
        margin-right: 17.5%;
    }
    #content {
        width: 100%;
    }
}